<div class="login-page">
  <div class="form">
    <div *ngIf="errMessage" class="alert alert-danger" role="alert">
      {{errMessage}}
    </div>
    <div *ngIf="successful" class="alert alert-success" role="alert">
      Senha alterada com sucesso!
    </div>
    <form class="login-form">
      <input type="text" placeholder="código de verificação" [(ngModel)]="verificationCode" name="verificationCode" >
      <input type="password" placeholder="nova senha" [(ngModel)]="newPassword" name="password" >
      <button class="btn btn-default" (click)="resetPassword()">Resetar Senha</button>
    </form>
  </div>
</div>
