<div class="panel panel-default">
  <div class="panel-heading">Editar Foto</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <b>Foto atual:</b>
        <img class="img-responsive"
              src="https://s3.amazonaws.com/{{pictureBucket}}-resized/250x250/{{familyMember.familyId}}"
              onerror="this.onerror=null;this.src='http://placehold.it/250?text=.';">
      </div>

      <div class="col-md-3">
        <b>Submeter:</b>
        <input type="file" (change)="fileChangeEvent($event)" accept="image/png, image/jpeg">
        <br />
        <button type="button" class="btn btn-success" (click)="submitPic()">
          <span *ngIf="!uploading" class="glyphicon glyphicon-ok"></span>
          <span *ngIf="uploading" class="glyphicon glyphicon-refresh"></span>
          {{ uploading ? 'Enviando...' : 'Enviar' }}
        </button>
        <br />
        <br />
        <b>Observação:</b> O sistema irá redimensionar a foto para os tamanhos de 150x150 e 250x250.
      </div>
    </div>


  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Editar Dados</div>
  <div class="panel-body">
    Em breve...
  </div>
</div>
