<div class="panel panel-default">
  <div class="panel-heading">Editar Foto</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <b>Foto atual:</b>
        <img class="img-responsive"
              src="https://s3.amazonaws.com/{{pictureBucket}}-resized/250x250/{{familyMember.familyId}}"
              onerror="this.onerror=null;this.src='http://placehold.it/250?text=.';">
      </div>

      <div class="col-md-3">
        <b>Submeter:</b> <br>Arquivo com no máximo 1MB
        <br>
        <br>
        <input type="file" (change)="fileChangeEvent($event)" accept="image/png, image/jpeg">
        <br />
        <button type="button" class="btn btn-success" (click)="submitPic()">
          <span *ngIf="!uploading" class="glyphicon glyphicon-ok"></span>
          <span *ngIf="uploading" class="glyphicon glyphicon-refresh"></span>
          {{ uploading ? 'Enviando...' : 'Enviar' }}
        </button>
        <br />
        <br />
        <b>Observação:</b> O sistema irá redimensionar a foto para os tamanhos de 150x150 e 250x250.
        <br />
        <br />
        <div *ngIf="maxSizeExceeded" class="text-center alert alert-danger">
          Tamanho máximo: 1MB
        </div>
        <div *ngIf="successfulUpload" class="text-center alert alert-info">
          Enviado com Sucesso. A imagem está sendo processada.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Editar Dados</div>
  <div class="panel-body">
    <div class="form-horizontal">

      <!-- Name -->
      <div class="form-group {{ emptyName ? 'has-error' : '' }}">
        <label class="col-sm-2 control-label">Nome:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="familyMember.name">
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" disabled [(ngModel)]="familyMember.email">
        </div>
      </div>

      <!-- Birthday -->
      <div class="form-group {{ emptyBirthday ? 'has-error' : '' }}">
        <label class="col-sm-2 control-label">Aniversário:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="familyMember.birthday">
        </div>
      </div>

      <!-- Address -->
      <div class="form-group">
        <label class="col-sm-2 control-label">Endereço:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="familyMember.address.firstLine">
          <input type="text" class="form-control" [(ngModel)]="familyMember.address.secondLine">
          <input type="text" class="form-control" [(ngModel)]="familyMember.address.thirdLine">
        </div>
      </div>

      <!-- Phones -->
      <div class="form-group">
        <label class="col-sm-2 control-label">Telefones:</label>
        <div class="col-sm-10">
          <div class="input-group">
            <div class="col-sm-1">
              <br>
              <button type="button" (click)="phone()" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="col-sm-3">
              ddd:<input type="text" [(ngModel)]="newPhone.ddd" class="form-control">
            </div>
            <div class="col-sm-3 {{ emptyPhoneNumber ? 'has-error' : '' }}">
              Numero:<input type="text" [(ngModel)]="newPhone.number" class="form-control">
            </div>
            <div class="col-sm-3">
              Operadora:<input type="text" [(ngModel)]="newPhone.operator" class="form-control">
            </div>
          </div>
          <br>
          <ul class="list-group">
            <li *ngFor="let phone of familyMember.phones; let i = index" class="list-group-item clearfix">
              <a (click)="noPhone(i)"><span class="glyphicon glyphicon-remove"></span></a>
              ({{phone.ddd}}) {{phone.number}} : {{phone.operator}}
            </li>
          </ul>
        </div>
      </div>

      <!-- Nicknames -->
      <div class="form-group {{ emptyNickname ? 'has-error' : '' }}">
        <label class="col-sm-2 control-label">Apelidos:</label>
        <div class="col-sm-10">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" (click)="nickName()" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <input type="text" class="form-control" [(ngModel)]="newNickname" />
          </div>
          <br>
          <ul class="list-group">
            <li *ngFor="let nickname of familyMember.nicknames; let i = index" class="list-group-item clearfix">
              <a (click)="noNickName(i)"><span class="glyphicon glyphicon-remove"></span></a>
              {{nickname}}
            </li>
          </ul>
        </div>
      </div>

      <!-- Save Button -->
      <div class="row">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-2">
            <button (click)="saveEdit()" class="btn btn-success">Salvar</button>
          </div>
          <div *ngIf="errorMessage" class="col-sm-3 text-center alert alert-danger">
            Problemas no preenchimento
          </div>
          <div *ngIf="successfulEdit" class="col-sm-3 text-center alert alert-info">
            Salvo com sucesso!
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
