<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Hierarquia</div>
    <div class="panel-body">
    <div *ngFor="let familyMember of breadcrumbs">
       <div class="text-center">
          <img class="img-responsive img-circle center-block" src="https://s3.amazonaws.com/{{pictureBucket}}-resized/150x150/{{familyMember.familyId}}" onerror="this.onerror=null;this.src='http://placehold.it/150?text=.';">
          <br/>
          <p class="capitalized">{{familyMember.name}}</p>
      </div>
      <br />
    </div>
  </div>
  </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
    <div class="panel-heading">Filhos</div>
    <div class="panel-body">
    <div class="col-md-3 children-card" *ngFor="let familyMember of children">
       <div class="text-center">
          <img class="img-responsive img-circle center-block" src="https://s3.amazonaws.com/{{pictureBucket}}-resized/150x150/{{familyMember.familyId}}" onerror="this.onerror=null;this.src='http://placehold.it/150?text=.';">
          <br/>
          <p class="capitalized">{{familyMember.name}}</p>

          <div class="btn-group btn-group-justified">
            <div class="btn-group" role="group">
              <button type="button" [routerLink]="['/family-member', familyMember.familyId.replace(':1','')]" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
            </div>

            <div class="btn-group" role="group">
              <button type="button" (click)="chosenFM(familyMember)" class="btn btn-info">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </div>
      </div>

    </div>
  </div>
  </div>
  </div>
</div>
